$normal     : rgb(200, 200, 200);
$magic      : rgb(136, 136, 255);
$rare       : rgb(255, 255, 119);
$unique     : rgb(175, 096, 037);
$gem        : rgb(027, 162, 155);
$currency   : rgb(170, 158, 130);
$quest      : rgb(074, 230, 058);
$divination : rgb(014, 186, 255);
$default    : rgb(127, 127, 127);
$value      : rgb(255, 255, 255);
$augmented  : rgb(136, 136, 255);
$fire       : rgb(150, 000, 000);
$cold       : rgb(054, 100, 146);
$lightning  : rgb(255, 215, 000);
$chaos      : rgb(208, 032, 144);
$crafted    : rgb(184, 218, 242);
$corrupted  : rgb(210, 000, 000);